h1,
p {
  font-family: Lato;
}

.login-inner {
  width: 50%;
  margin: auto;
  margin-top: 15%;
  padding: 5%;
  box-shadow: 1px 1px 10px #c7c7c7;
  border-radius: 10px;
}
.form-control {
  margin-bottom: 10px;
}
.login-inner button {
  margin: auto;
  text-align: center;
  background: #f7404a;
  border: none;
  color: #fff;
  box-shadow: none;
  padding: 5px 20px;
  border-radius: 5px;
  display: block;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}
